<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
         <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
         <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
          <div class="col-lg-6">
          <div class="p-5">
            <div>
              <h1 class="text-center">ABOUT</h1>
              <h3 class="h4 text-yellow-900 mb-4">“Read and read again until flies become bookworms”
             </h3>
              <blockquote class="h5">-Robin Hood</blockquote>
            </div>
            <p class="h4 text-gray-900 mb-4">Ever wanted to buy a book but could not because it was too expensive? worry not! because My Book Center is here! My Book Center, these days in news,is being called as the Robinhood of the world of books. Mt Book Center team is committed to bring to you all kinds of best books at the minimal prices ever seen anywhere. Yes, we are literally giving you away a steal.</p>
            <p class="h4 text-gray-900 mb-4 text-center">Let not the power of price stop you, read with us.</p>
            <p class="h4 text-gray-900 mb-4 text-center">Once add the book to cart and buy whenever you need.We are her for your convenience</p>
          </div>    
        </div>
         </div>
      </div>
</div>
</div>
</div>
</div>