.gallery-wrap .img-big-wrap img {
    height: 300px;
    width: 300px;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    margin-left: 50px;
}
.blockquote{
    padding: 20px;
    margin-left: 50px;
}
.price-detail-wrap{
    padding-left: 20px;
    margin-left: 50px;   
}
