<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar" style ="height:200%">
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-text mx-3">Actions</div>
    </a>
    <li class="nav-item mt-4" routerLink="/bookstore/admin/book">
        
        <a class="nav-link text-lg">
        <i class="fa fa-book"></i>
        <span>Add New Books</span></a>
    </li>
    <li class="nav-item mt-3" routerLink="/bookstore/admin/ordered_books"> 
        
        <a class="nav-link text-lg">
        <i class="fa fa-book"></i>
        <span>View Orders</span></a>
    </li>
    <li class="nav-item mt-3" routerLink="/bookstore/admin/requsetd_books"> 
        
      <a class="nav-link text-lg">
      <i class="fa fa-book"></i>
      <span>View Requests</span></a>
  </li>
  <li class="nav-item mt-3" routerLink="/bookstore/admin/feedback"> 
        
    <a class="nav-link text-lg">
    <i class="fa fa-book"></i>
    <span>View FeedBack</span></a>
</li>
  
  </ul>
  
