.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 100px;
  text-align: center;
}
.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.card-product .info-wrap {
  overflow: hidden;
  padding: 8px;
  border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
  padding: 8px;
  border-top: 1px solid #eee;
}
.info-main{
background-color: turquoise;
color:red;
width:100%;
height:auto;
}

.label-rating { margin-right:10px;
  color: rgb(187, 179, 179);
  display: inline-block;
  vertical-align: middle;
}

.card-product .price-old {
  color: #999;
}